<div>
    <h2 id="page-heading">
        <span jhiTranslate="primengtestApp.task.home.title">Tasks</span>
        <p-button id="jh-create-entity" class="float-right jh-create-entity create-task" [routerLink]="['/task/new']"
            [label]="'primengtestApp.task.home.createLabel' | translate" icon="pi pi-plus" iconPos="left">
        </p-button>
    </h2>
    <br/>
    <p-table #taskTable [value]="tasks" [rowTrackBy]="trackId" [responsive]="true">
        <ng-template pTemplate="header">
        <tr>
            <th>
                <span jhiTranslate="primengtestApp.task.id">ID</span>
            </th>
            <th>
                <span jhiTranslate="primengtestApp.task.name">Name</span>
            </th>
            <th>
                <span jhiTranslate="primengtestApp.task.type">Type</span>
            </th>
            <th>
                <span jhiTranslate="primengtestApp.task.endDate">End Date</span>
            </th>
            <th>
                <span jhiTranslate="primengtestApp.task.createdAt">Created At</span>
            </th>
            <th>
                <span jhiTranslate="primengtestApp.task.modifiedAt">Modified At</span>
            </th>
            <th>
                <span jhiTranslate="primengtestApp.task.done">Done</span>
            </th>
            <th>
                <span jhiTranslate="primengtestApp.task.description">Description</span>
            </th>
            <th>
                <span jhiTranslate="primengtestApp.task.attachment">Attachment</span>
            </th>
            <th>
                <span jhiTranslate="primengtestApp.task.picture">Picture</span>
            </th>
            <th style="width: 124px"></th>
        </tr>
        <tr>
            <th>
                <input pInputText type="number" [value]="taskTable.filters.id?.value"
                       (input)="taskTable.filter($event.target.value, 'id', 'equals')">
            </th>
            <th>
                <input pInputText type="text" [value]="taskTable.filters.name?.value"
                       (input)="taskTable.filter($event.target.value, 'name', 'contains')">
            </th>
            <th>
                <p-multiSelect [options]="typeOptions" [ngModel]="taskTable.filters.type?.value"
                               (ngModelChange)="taskTable.filter($event, 'type', 'in')">
                    <ng-template let-type pTemplate="item">{{'primengtestApp.TaskType.' + type.label | translate}}</ng-template>
                </p-multiSelect>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
                <p-triStateCheckbox [ngModel]="taskTable.filters.billable?.value"
                                    (ngModelChange)="taskTable.filter($event, 'done', 'equals')"></p-triStateCheckbox>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th></th>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-task>
            <tr>
                <td>{{task.id}}</td>
                <td>{{task.name}}</td>
                <td jhiTranslate="{{'primengtestApp.TaskType.' + task.type}}">{{task.type}}</td>
                <td>{{task.endDate | date:'mediumDate'}}</td>
                <td>{{task.createdAt | date:'medium'}}</td>
                <td>{{task.modifiedAt | date:'medium'}}</td>
                <td>{{task.done}}</td>
                <td>{{task.description}}</td>
                <td>
                    <a *ngIf="task.attachment" (click)="openFile(task.attachmentContentType, task.attachment)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="task.attachment">{{task.attachmentContentType}}, {{byteSize(task.attachment)}}</span>
                </td>
                <td>
                    <a *ngIf="task.picture" (click)="openFile(task.pictureContentType, task.picture)">
                        <img [src]="'data:' + task.pictureContentType + ';base64,' + task.picture" style="max-height: 30px;" alt="task image"/>
                    </a>
                    <span *ngIf="task.picture">{{task.pictureContentType}}, {{byteSize(task.picture)}}</span>
                </td>
                <td>
                    <div class="btn-group flex-btn-group-container">
                        <p-button type="submit" [routerLink]="['/task', task.id, 'view' ]"
                                  icon="pi pi-eye" styleClass="ui-button-info">
                        </p-button>
                        <p-button type="submit" [routerLink]="['/task', task.id, 'edit' ]"
                                  icon="pi pi-pencil" styleClass="ui-button-warning">
                        </p-button>
                        <p-button type="submit" (click)="delete(task.id)"
                                  icon="pi pi-times" styleClass="ui-button-danger">
                        </p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
