<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="task">
            <h2><span jhiTranslate="primengtestApp.task.detail.title">Task</span> {{task.id}}</h2>
            <hr>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="primengtestApp.task.name">Name</span></dt>
                <dd>
                    <span>{{task.name}}</span>
                </dd>
                <dt><span jhiTranslate="primengtestApp.task.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'primengtestApp.TaskType.' + task.type}}">{{task.type}}</span>
                </dd>
                <dt><span jhiTranslate="primengtestApp.task.endDate">End Date</span></dt>
                <dd>
                    <span>{{task.endDate}}</span>
                </dd>
                <dt><span jhiTranslate="primengtestApp.task.createdAt">Created At</span></dt>
                <dd>
                    <span>{{task.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="primengtestApp.task.modifiedAt">Modified At</span></dt>
                <dd>
                    <span>{{task.modifiedAt}}</span>
                </dd>
                <dt><span jhiTranslate="primengtestApp.task.done">Done</span></dt>
                <dd>
                    <span>{{task.done}}</span>
                </dd>
                <dt><span jhiTranslate="primengtestApp.task.description">Description</span></dt>
                <dd>
                    <span>{{task.description}}</span>
                </dd>
                <dt><span jhiTranslate="primengtestApp.task.attachment">Attachment</span></dt>
                <dd>
                    <div *ngIf="task.attachment">
                        <a (click)="openFile(task.attachmentContentType, task.attachment)" jhiTranslate="entity.action.open">open</a>
                        {{task.attachmentContentType}}, {{byteSize(task.attachment)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="primengtestApp.task.picture">Picture</span></dt>
                <dd>
                    <div *ngIf="task.picture">
                        <a (click)="openFile(task.pictureContentType, task.picture)">
                            <img [src]="'data:' + task.pictureContentType + ';base64,' + task.picture" style="max-width: 100%;" alt="task image"/>
                        </a>
                        {{task.pictureContentType}}, {{byteSize(task.picture)}}
                    </div>
                </dd>
            </dl>

            <button pButton type="submit" (click)="previousState()" class="ui-button-info" icon="pi pi-arrow-left" [label]="'entity.action.back' | translate"></button>
            <button pButton type="button" icon="pi pi-pencil" [label]="'entity.action.edit' | translate" [routerLink]="['/task', task.id, 'edit']"></button>
        </div>
    </div>
</div>
