<div>
    <h2 id="page-heading">
        <span jhiTranslate="primengtestApp.employeeSkillCertificate.home.title">Employee Skill Certificates</span>
        <p-button id="jh-create-entity" class="float-right jh-create-entity create-employee-skill-certificate" [routerLink]="['/employee-skill-certificate/new']"
            [label]="'primengtestApp.employeeSkillCertificate.home.createLabel' | translate" icon="pi pi-plus" iconPos="left">
        </p-button>
    </h2>
    <br/>
    <p-table #employeeSkillCertificateTable [value]="employeeSkillCertificates" [rowTrackBy]="trackId" [responsive]="true"[lazy]="true" [rows]="itemsPerPage" [totalRecords]="totalItems" [loading]="loading" sortMode="multiple" [lazyLoadOnInit]="false"[paginator]="true" (onLazyLoad)="onLazyLoadEvent($event)" >
        <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">
                <span jhiTranslate="global.field.id">ID</span>
                <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="grade">
                <span jhiTranslate="primengtestApp.employeeSkillCertificate.grade">Grade</span>
                <p-sortIcon field="grade"></p-sortIcon>
            </th>
            <th pSortableColumn="date">
                <span jhiTranslate="primengtestApp.employeeSkillCertificate.date">Date</span>
                <p-sortIcon field="date"></p-sortIcon>
            </th>
            <th pSortableColumn="type">
                <span jhiTranslate="primengtestApp.employeeSkillCertificate.type">Type</span>
                 <p-sortIcon field="type"></p-sortIcon>
            </th>
            <th pSortableColumn="skill">
                <span jhiTranslate="primengtestApp.employeeSkillCertificate.skill">Skill</span>
                 <p-sortIcon field="skill"></p-sortIcon>
            </th>
            <th style="width: 124px"></th>
        </tr>
        <tr>
            <th>
                <input pInputText type="text" [value]="employeeSkillCertificateTable.filters.id?.value"
                       (input)="employeeSkillCertificateTable.filter($event.target.value, 'id', 'equals')">
            </th>
            <th>
                <input pInputText type="number" [value]="employeeSkillCertificateTable.filters.grade?.value"
                       (input)="employeeSkillCertificateTable.filter($event.target.value, 'grade', 'equals')">
            </th>
            <th>

                <p-calendar [(ngModel)]="dateRange" selectionMode="range" [readonlyInput]="true" [showButtonBar]="true"
                            (onSelect)="onDateSelect(dateRange, 'date')" (onClearClick)="onDateSelect(dateRange, 'date')"></p-calendar>
            </th>
            <th>
                <p-multiSelect [options]="typeOptions" [ngModel]="employeeSkillCertificateTable.filters.typeId?.value" optionLabel="name" optionValue="id" 
                               (ngModelChange)="employeeSkillCertificateTable.filter($event, 'typeId', 'in')"></p-multiSelect>
            </th>
            <th>
                <p-multiSelect [options]="skillOptions" [ngModel]="employeeSkillCertificateTable.filters.skillId?.value" optionLabel="id" optionValue="id" 
                               [lazy]="true" [rows]="10" (onLazyLoad)="onSkillLazyLoadEvent($event)"
                               (ngModelChange)="employeeSkillCertificateTable.filter($event, 'skillId', 'in')"></p-multiSelect>
            </th>
            <th></th>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employeeSkillCertificate>
            <tr>
                <td><a [routerLink]="['/employee-skill-certificate', employeeSkillCertificate.id, 'view' ]">{{employeeSkillCertificate.id}}</a></td>
                <td>{{employeeSkillCertificate.grade}}</td>
                <td>{{employeeSkillCertificate.date | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="employeeSkillCertificate.typeId">
                        <a [routerLink]="['../certificate-type', employeeSkillCertificate.typeId , 'view' ]" >{{employeeSkillCertificate.typeName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="employeeSkillCertificate.skillId">
                        <a [routerLink]="['../employee-skill', employeeSkillCertificate.skillId , 'view' ]" >{{employeeSkillCertificate.skillId}}</a>
                    </div>
                </td>
                <td>
                    <div class="btn-group flex-btn-group-container">
                        <p-button type="submit" [routerLink]="['/employee-skill-certificate', employeeSkillCertificate.id, 'view' ]"
                                  icon="pi pi-eye" styleClass="ui-button-info">
                        </p-button>
                        <p-button type="submit" [routerLink]="['/employee-skill-certificate', employeeSkillCertificate.id, 'edit' ]"
                                  icon="pi pi-pencil" styleClass="ui-button-warning">
                        </p-button>
                        <p-button type="submit" (click)="delete(employeeSkillCertificate.id)"
                                  icon="pi pi-times" styleClass="ui-button-danger">
                        </p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
