<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employeeSkillCertificate">
            <h2><span jhiTranslate="primengtestApp.employeeSkillCertificate.detail.title">Employee Skill Certificate</span> {{employeeSkillCertificate.typeId}} / {{employeeSkillCertificate.skillName}} / {{employeeSkillCertificate.skillEmployeeUsername}}</h2>
            <hr>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="primengtestApp.employeeSkillCertificate.grade">Grade</span></dt>
                <dd>
                    <span>{{employeeSkillCertificate.grade}}</span>
                </dd>
                <dt><span jhiTranslate="primengtestApp.employeeSkillCertificate.date">Date</span></dt>
                <dd>
                    <span>{{employeeSkillCertificate.date}}</span>
                </dd>
                <dt><span jhiTranslate="primengtestApp.employeeSkillCertificate.type">Type</span></dt>
                <dd>
                    <div *ngIf="employeeSkillCertificate.typeId">
                        <a [routerLink]="['/certificate-type', employeeSkillCertificate.typeId, 'view']">
                            {{employeeSkillCertificate.typeName}}
                        </a>
                    </div>
                </dd>
                <dt><span jhiTranslate="primengtestApp.employeeSkillCertificate.skill">Skill</span></dt>
                <dd>
                    <div *ngIf="employeeSkillCertificate.skillName && employeeSkillCertificate.skillEmployeeUsername">
                        <a [routerLink]="['/employee-skill', { name: employeeSkillCertificate.skillName, employeeUsername: employeeSkillCertificate.skillEmployeeUsername }, 'view']">
                            {{'primengtestApp.employeeSkillCertificate.skill' | translate}}
                        </a>
                    </div>
                </dd>
            </dl>

            <button pButton type="submit" (click)="previousState()" class="ui-button-info" icon="pi pi-arrow-left" [label]="'entity.action.back' | translate"></button>
            <button pButton type="button" icon="pi pi-pencil" [label]="'entity.action.edit' | translate" [routerLink]="['/employee-skill-certificate', { typeId: employeeSkillCertificate.typeId, skillName: employeeSkillCertificate.skillName, skillEmployeeUsername: employeeSkillCertificate.skillEmployeeUsername }, 'edit']"></button>
        </div>
    </div>
</div>
