<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="taskComment">
            <h2><span jhiTranslate="primengtestApp.taskComment.detail.title">Task Comment</span> {{taskComment.id}}</h2>
            <hr>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="primengtestApp.taskComment.value">Value</span></dt>
                <dd>
                    <span>{{ taskComment.value }}</span>
                </dd>
                <dt><span jhiTranslate="primengtestApp.taskComment.task">Task</span></dt>
                <dd>
                    <div *ngIf="taskComment.taskId">
                        <a [routerLink]="['/task', taskComment.taskId, 'view']">
                            {{ taskComment.taskName }}
                        </a>
                    </div>
                </dd>
            </dl>

            <button pButton type="submit" (click)="previousState()" class="ui-button-info" icon="pi pi-arrow-left" [label]="'entity.action.back' | translate"></button>
            <button pButton type="button" icon="pi pi-pencil" [label]="'entity.action.edit' | translate" [routerLink]="['/task-comment', taskComment.id, 'edit']"></button>
        </div>
    </div>
</div>
