<div>
    <h2>
        <span id="user-management-page-heading" jhiTranslate="userManagement.home.title">Users</span>
        <button pButton class="float-right jh-create-entity" [routerLink]="['./new']" icon="pi pi-plus" [label]="'userManagement.home.createLabel' | translate"></button>
    </h2>
    <div class="table-responsive">
        <p-table #userTable [value]="users" [rowTrackBy]="trackId" [responsive]="true" [lazy]="true" [rows]="itemsPerPage" [totalRecords]="totalItems" [loading]="loading" sortMode="multiple" [lazyLoadOnInit]="false" [paginator]="true" (onLazyLoad)="onLazyLoadEvent($event)">
            <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id"><span jhiTranslate="global.field.id">ID</span><p-sortIcon field="createdBy"></p-sortIcon></th>
                <th pSortableColumn="login"><span jhiTranslate="userManagement.login">Login</span><p-sortIcon field="createdBy"></p-sortIcon></th>
                <th pSortableColumn="email"><span jhiTranslate="userManagement.email">Email</span><p-sortIcon field="createdBy"></p-sortIcon></th>
                <th></th>
                <th scope="col"  pSortableColumn="langKey"> <span jhiTranslate="userManagement.langKey">Lang Key</span><p-sortIcon field="createdBy"></p-sortIcon></th>
                <th scope="col"><span jhiTranslate="userManagement.profiles">Profiles</span></th>
                <th pSortableColumn="createdDate"><span jhiTranslate="userManagement.createdDate">Created Date</span><p-sortIcon field="createdBy"></p-sortIcon></th>
                <th pSortableColumn="lastModifiedBy"><span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span><p-sortIcon field="createdBy"></p-sortIcon></th>
                <th pSortableColumn="lastModifiedDate"><span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span><p-sortIcon field="createdBy"></p-sortIcon></th>
                <th scope="col"></th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
            <tr>
                <td><a [routerLink]="['./', user.login, 'view']">{{user.id}}</a></td>
                <td>{{user.login}}</td>
                <td>{{user.email}}</td>
                <td>
                    <button pButton class="ui-button-danger" (click)="setActive(user, true)" *ngIf="!user.activated"
                            [label]="'userManagement.deactivated' | translate"></button>
                    <button pButton class="ui-button-success" (click)="setActive(user, false)" *ngIf="user.activated"
                            [disabled]="!currentAccount || currentAccount.login === user.login" [label]="'userManagement.activated' | translate"></button>
                </td>
                <td>{{user.langKey}}</td>
                <td>
                    <div *ngFor="let authority of user.authorities">
                        <span class="badge badge-info">{{ authority }}</span>
                    </div>
                </td>
                <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{user.lastModifiedBy}}</td>
                <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>
                    <button pButton type="submit" [routerLink]="[ user.login, 'view' ]"
                            icon="pi pi-eye" class="ui-button-info">
                    </button>
                    <button pButton type="submit" [routerLink]="[ user.login, 'edit' ]"
                            icon="pi pi-pencil" class="ui-button-warning">
                    </button>
                    <button pButton type="submit" (click)="delete(user.login)"
                            icon="pi pi-times" class="ui-button-danger">
                    </button>
                </td>
            </tr>
            </ng-template>
        </p-table>
    </div>
</div>
