<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="certificateType">
            <h2><span jhiTranslate="primengtestApp.certificateType.detail.title">Certificate Type</span> {{certificateType.id}}</h2>
            <hr>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="primengtestApp.certificateType.name">Name</span></dt>
                <dd>
                    <span>{{certificateType.name}}</span>
                </dd>
            </dl>

            <button pButton type="submit" (click)="previousState()" class="ui-button-info" icon="pi pi-arrow-left" [label]="'entity.action.back' | translate"></button>
            <button pButton type="button" icon="pi pi-pencil" [label]="'entity.action.edit' | translate" [routerLink]="['/certificate-type', certificateType.id, 'edit']"></button>
        </div>
    </div>
</div>
