<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-certificate-type-heading" jhiTranslate="primengtestApp.certificateType.home.createOrEditLabel">Create or edit a Certificate Type</h2>
            <div class="form-grid">
                <ng-container *ngIf="editForm.get('id')!.value">
                    <label jhiTranslate="global.field.id" for="field_id">ID</label>
                    <input pInputText type="number" name="id" id="field_id" formControlName="id" readonly/>
                    <div class="validation-messages">
                    </div>
                </ng-container>
                <label jhiTranslate="primengtestApp.certificateType.name" for="field_name">Name</label>
                <input pInputText type="text" name="name" id="field_name" formControlName="name"/>
                <div class="validation-messages">
                    <ng-container *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <p-message severity="error"
                                   *ngIf="editForm.get('name')!.errors!.required" [text]="'entity.validation.required' | translate">
                        </p-message>
                    </ng-container>
                </div>
            </div>

            <div>
                <button pButton type="button" id="cancel-save" icon="pi pi-ban" class="ui-button-secondary" (click)="previousState()" [label]="'entity.action.cancel' | translate"></button>
                <button pButton type="submit" id="save-entity" icon="pi pi-save" [disabled]="editForm.invalid || isSaving" [label]="'entity.action.save' | translate"></button>
            </div>
        </form>
    </div>
</div>
