<%#
 Copyright 2013-2025 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<div class="entity-update">
    @if (editForm.value.id !== null) {
        <h2 class="title" id="<%= jhiPrefixDashed %>-user-management-heading" data-cy="UserManagementCreateUpdateHeading">__jhiTranslateTag__('userManagement.home.editLabel')</h2>
    } @else {
        <h2 class="title" id="<%= jhiPrefixDashed %>-user-management-heading" data-cy="UserManagementCreateUpdateHeading">__jhiTranslateTag__('userManagement.home.createLabel')</h2>
    }
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <div class="form-grid p-fluid update-content">
            @if (editForm.value.id !== null) {
            <div class="p-field p-grid">
                <label for="field_id" class="p-col-12 p-md-2">__jhiTranslateTag__('global.field.id')</label>
                <div class="p-col-12 p-md-10">
                    <input pInputText type="text" id="field_id" name="id" formControlName="id" [readonly]="true" />
                </div>
            </div>
            }

            @let loginRef = editForm.get('login')!;
            <div class="p-field p-grid">
                <label for="field_login" class="p-col-12 p-md-2 label-asterisk">__jhiTranslateTag__('userManagement.login')</label>
                <div class="p-col-12 p-md-10">
                    <input pInputText type="text" id="field_login" name="login" formControlName="login" data-cy="login" />
                    @if (loginRef.invalid && (loginRef.dirty || loginRef.touched)) {
                        <div class="validation-messages">
                            @if (loginRef?.errors?.required) {
                                <p-message severity="error" [text]="'entity.validation.required' | translate"></p-message>
                            }
                            @if (loginRef?.errors?.maxlength) {
                                <p-message severity="error" [text]="'entity.validation.maxlength' | translate : { max: 50 }"></p-message>
                            }
                            @if (loginRef?.errors?.pattern) {
                                <p-message severity="error" [text]="'entity.validation.patternLogin' | translate"></p-message>
                            }
                        </div>
                    }
                </div>
            </div>

            @let firstNameRef = editForm.get('firstName')!;
            <div class="p-field p-grid">
                <label for="field_firstName" class="p-col-12 p-md-2">__jhiTranslateTag__('userManagement.firstName')</label>
                <div class="p-col-12 p-md-10">
                    <input pInputText type="text" id="field_firstName" name="firstName" formControlName="firstName" data-cy="firstName" />
                    @if (firstNameRef.invalid && (firstNameRef.dirty || firstNameRef.touched)) {
                        <div class="validation-messages">
                            @if (firstNameRef?.errors?.maxlength) {
                                <p-message severity="error" [text]="'entity.validation.maxlength' | translate : { max: 50 }"></p-message>
                            }
                        </div>
                    }
                </div>
            </div>

            @let lastNameRef = editForm.get('lastName')!;
            <div class="p-field p-grid">
                <label for="field_lastName" class="p-col-12 p-md-2">__jhiTranslateTag__('userManagement.lastName')</label>
                <div class="p-col-12 p-md-10">
                    <input pInputText type="text" id="field_lastName" name="lastName" formControlName="lastName" data-cy="lastName" />
                    @if (lastNameRef.invalid && (lastNameRef.dirty || lastNameRef.touched)) {
                        <div class="validation-messages">
                            @if (lastNameRef?.errors?.maxlength) {
                                <p-message severity="error" [text]="'entity.validation.maxlength' | translate : { max: 50 }"></p-message>
                            }
                        </div>
                    }
                </div>
            </div>

            @let emailRef = editForm.get('email')!;
            <div class="p-field p-grid">
                <label for="field_email" class="p-col-12 p-md-2 label-asterisk">__jhiTranslateTag__('userManagement.email')</label>
                <div class="p-col-12 p-md-10">
                    <input pInputText type="email" id="field_email" name="email" formControlName="email" data-cy="email" />
                    @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
                        <div class="validation-messages">
                            @if (emailRef?.errors?.required) {
                                <p-message severity="error" [text]="'entity.validation.required' | translate"></p-message>
                            }
                            @if (emailRef?.errors?.maxlength) {
                                <p-message severity="error" [text]="'entity.validation.maxlength' | translate : { max: 100 }"></p-message>
                            }
                            @if (emailRef?.errors?.minlength) {
                                <p-message severity="error" [text]="'entity.validation.minlength' | translate : { min: 5 }"></p-message>
                            }
                            @if (emailRef?.errors?.email) {
                                <p-message severity="error" [text]="'global.messages.validate.email.invalid' | translate"></p-message>
                            }
                        </div>
                    }
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="activated" class="p-col-12 p-md-2">__jhiTranslateTag__('userManagement.activated')</label>
                <div class="p-col-12 p-md-10">
                    <p-toggleSwitch
                        [disabled]="editForm.value.id === undefined"
                        id="activated"
                        name="activated"
                        formControlName="activated"
                        data-cy="activated">
                    </p-toggleSwitch>
                </div>
            </div>
<%_ if (enableTranslation) { _%>

            @if (languageOptions.length > 1) {
            <div class="p-field p-grid">
                <label for="langKey" class="p-col-12 p-md-2">__jhiTranslateTag__('userManagement.langKey')</label>
                <div class="p-col-12 p-md-10">
                    <p-select id="langKey" [options]="languageOptions" name="langKey" formControlName="langKey" placeholder="Choose" data-cy="langKey"></p-select>
                </div>
            </div>
            }
<%_ } _%>

            <div class="p-field p-grid">
                <label for="field_authority" class="p-col-12 p-md-2">__jhiTranslateTag__('userManagement.profiles')</label>
                <div class="p-col-12 p-md-10">
                    <p-multiSelect id="field_authority" [options]="authorities()" name="authority" formControlName="authorities" data-cy="authorities"></p-multiSelect>
                </div>
            </div>
        </div>

        <div class="update-buttons">
            <button pButton type="button" id="cancel-save" icon="pi pi-ban" class="p-button-secondary" (click)="previousState()">__jhiTranslateTag__('entity.action.cancel')</button>
            <button pButton type="submit" id="save-entity" icon="pi pi-save" [disabled]="editForm.invalid || isSaving()">__jhiTranslateTag__('entity.action.save')</button>
        </div>
    </form>
</div>
