<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employeeSkill">
            <h2><span jhiTranslate="primengtestApp.employeeSkill.detail.title">Employee Skill</span> {{employeeSkill.name}} / {{employeeSkill.employeeUsername}}</h2>
            <hr>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="primengtestApp.employeeSkill.name">Name</span></dt>
                <dd>
                    <span>{{ employeeSkill.name }}</span>
                </dd>
                <dt><span jhiTranslate="primengtestApp.employeeSkill.level">Level</span></dt>
                <dd>
                    <span>{{ employeeSkill.level }}</span>
                </dd>
                <dt><span jhiTranslate="primengtestApp.employeeSkill.task">Task</span></dt>
                <dd>
                    <span *ngFor="let task of employeeSkill.tasks; let last = last">
                        <a [routerLink]="['/task', task?.id, 'view']">{{ task.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="primengtestApp.employeeSkill.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="employeeSkill.employeeUsername">
                        <a [routerLink]="['/employee', employeeSkill.employeeUsername, 'view']">
                            {{ employeeSkill.employeeFullname }}
                        </a>
                    </div>
                </dd>
                <dt><span jhiTranslate="primengtestApp.employeeSkill.teacher">Teacher</span></dt>
                <dd>
                    <div *ngIf="employeeSkill.teacherUsername">
                        <a [routerLink]="['/employee', employeeSkill.teacherUsername, 'view']">
                            {{ employeeSkill.teacherFullname }}
                        </a>
                    </div>
                </dd>
            </dl>

            <button pButton type="submit" (click)="previousState()" class="ui-button-info" icon="pi pi-arrow-left" [label]="'entity.action.back' | translate"></button>
            <button pButton type="button" icon="pi pi-pencil" [label]="'entity.action.edit' | translate" [routerLink]="['/employee-skill', { name: employeeSkill.name, employeeUsername: employeeSkill.employeeUsername }, 'edit']"></button>
        </div>
    </div>
</div>
