<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-employee-skill-heading" jhiTranslate="primengtestApp.employeeSkill.home.createOrEditLabel">Create or edit a Employee Skill</h2>
            <div class="form-grid">
                <label jhiTranslate="primengtestApp.employeeSkill.name" for="field_name">Name</label>
                <input pInputText type="text" name="name" id="field_name" formControlName="name" [readonly]="edit"/>
                <div class="validation-messages">
                    <ng-container *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <p-message severity="error"
                                   *ngIf="editForm.get('name')!.errors!.required" [text]="'entity.validation.required' | translate">
                        </p-message>
                    </ng-container>
                </div>
                <label jhiTranslate="primengtestApp.employeeSkill.level" for="field_level">Level</label>
                <input pInputText type="number" name="level" id="field_level" formControlName="level"/>
                <div class="validation-messages">
                    <ng-container *ngIf="editForm.get('level')!.invalid && (editForm.get('level')!.dirty || editForm.get('level')!.touched)">
                        <p-message severity="error"
                                   *ngIf="editForm.get('level')!.errors!.required" [text]="'entity.validation.required' | translate">
                        </p-message>
                        <p-message severity="error"
                            [hidden]="!editForm.get('level')!.errors!.number" [text]="'entity.validation.number' | translate">
                        </p-message>
                    </ng-container>
                </div>

                <label jhiTranslate="primengtestApp.employeeSkill.task" for="field_tasks">Task</label>
                <p-multiSelect id="field_tasks" name="tasks" formControlName="tasks"
                    [options]="taskOptions" optionLabel="name">
                </p-multiSelect>
                <div class="validation-messages">
                </div>
                <label jhiTranslate="primengtestApp.employeeSkill.employee" for="field_employee">Employee</label>
                <p-dropdown id="field_employee" name="employee" [options]="employeeOptions" formControlName="employeeUsername" [readonly]="edit"
                            [virtualScroll]="true" [lazy]="true" [rows]="10" (onLazyLoad)="onEmployeeLazyLoadEvent($event)" [lazyLoadOnInit]="true" [filter]="true" [filterValue]="employeeFilterValue"
                            placeholder="Choose" optionLabel="fullname" optionValue="username"></p-dropdown>
                <div class="validation-messages">
                    <ng-container *ngIf="editForm.get('employeeUsername')!.invalid && (editForm.get('employeeUsername')!.dirty || editForm.get('employeeUsername')!.touched)">
                        <p-message severity="error"
                                   *ngIf="editForm.get('employeeUsername')!.errors!.required" [text]="'entity.validation.required' | translate">
                        </p-message>
                    </ng-container>
                </div>
                <label jhiTranslate="primengtestApp.employeeSkill.teacher" for="field_teacher">Teacher</label>
                <p-dropdown id="field_teacher" name="teacher" [options]="teacherOptions" formControlName="teacherUsername"
                            [virtualScroll]="true" [lazy]="true" [rows]="10" (onLazyLoad)="onTeacherLazyLoadEvent($event)" [lazyLoadOnInit]="true" [filter]="true" [filterValue]="teacherFilterValue"
                            placeholder="Choose" optionLabel="fullname" optionValue="username"></p-dropdown>
                <div class="validation-messages">
                    <ng-container *ngIf="editForm.get('teacherUsername')!.invalid && (editForm.get('teacherUsername')!.dirty || editForm.get('teacherUsername')!.touched)">
                        <p-message severity="error"
                                   *ngIf="editForm.get('teacherUsername')!.errors!.required" [text]="'entity.validation.required' | translate">
                        </p-message>
                    </ng-container>
                </div>
            </div>
            <div>
                <button pButton type="button" id="cancel-save" icon="pi pi-ban" class="ui-button-secondary" (click)="previousState()" [label]="'entity.action.cancel' | translate"></button>
                <button pButton type="submit" id="save-entity" icon="pi pi-save" [disabled]="editForm.invalid || isSaving" [label]="'entity.action.save' | translate"></button>
            </div>
        </form>
    </div>
</div>
