<div>
    <h2 id="page-heading">
        <span jhiTranslate="primengtestApp.employeeSkill.home.title">Employee Skills</span>
        <p-button id="jh-create-entity" class="float-right jh-create-entity create-employee-skill" [routerLink]="['/employee-skill/new']"
            [label]="'primengtestApp.employeeSkill.home.createLabel' | translate" icon="pi pi-plus" iconPos="left">
        </p-button>
    </h2>
    <br/>
    <p-table #employeeSkillTable [value]="employeeSkills" [rowTrackBy]="trackId" [responsive]="true"[lazy]="true" [rows]="itemsPerPage" [totalRecords]="totalItems" [loading]="loading" sortMode="multiple" [lazyLoadOnInit]="false"[paginator]="true" (onLazyLoad)="onLazyLoadEvent($event)" >
        <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">
                <span jhiTranslate="primengtestApp.employeeSkill.name">Name</span>
                <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="level">
                <span jhiTranslate="primengtestApp.employeeSkill.level">Level</span>
                <p-sortIcon field="level"></p-sortIcon>
            </th>
            <th pSortableColumn="task">
                <span jhiTranslate="primengtestApp.employeeSkill.task">Task</span>
                <p-sortIcon field="task"></p-sortIcon>
            </th>
            <th pSortableColumn="employee">
                <span jhiTranslate="primengtestApp.employeeSkill.employee">Employee</span>
                <p-sortIcon field="employee"></p-sortIcon>
            </th>
            <th style="width: 124px"></th>
        </tr>
        <tr>
            <th>
                <input pInputText type="text" [value]="employeeSkillTable.filters.name?.value"
                       (input)="employeeSkillTable.filter($event.target.value, 'name', 'contains')">
            </th>
            <th>
                <input pInputText type="number" [value]="employeeSkillTable.filters.level?.value"
                       (input)="employeeSkillTable.filter($event.target.value, 'level', 'equals')">
            </th>
            <th>
                <p-multiSelect [options]="taskOptions" [ngModel]="employeeSkillTable.filters.taskId?.value" optionLabel="name" optionValue="id"
                               (ngModelChange)="employeeSkillTable.filter($event, 'taskId', 'in')"></p-multiSelect>
            </th>
            <th>
                <p-multiSelect [options]="employeeOptions" [ngModel]="employeeSkillTable.filters.employeeUsername?.value" optionLabel="fullname" optionValue="username"
                               [lazy]="true" [rows]="10" (onLazyLoad)="onEmployeeLazyLoadEvent($event)"
                               (ngModelChange)="employeeSkillTable.filter($event, 'employeeUsername', 'in')"></p-multiSelect>
            </th>
            <th></th>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employeeSkill>
            <tr>
                <td>{{employeeSkill.name}}</td>
                <td>{{employeeSkill.level}}</td>
                <td>
                    <span *ngFor="let task of employeeSkill.tasks; let last = last">
                        <a class="form-control-static" [routerLink]="['../task', task?.id, 'view' ]">{{task.name}}</a>{{last ? '' : ', '}}
                    </span>
                </td>
                <td>
                    <div *ngIf="employeeSkill.employeeUsername">
                        <a [routerLink]="['../employee', employeeSkill.employeeUsername , 'view' ]" >{{employeeSkill.employeeFullname}}</a>
                    </div>
                </td>
                <td>
                    <div class="btn-group flex-btn-group-container">
                        <p-button type="submit" [routerLink]="['/employee-skill', { name: employeeSkill.name, employeeUsername: employeeSkill.employeeUsername }, 'view' ]"
                                  icon="pi pi-eye" styleClass="ui-button-info">
                        </p-button>
                        <p-button type="submit" [routerLink]="['/employee-skill', { name: employeeSkill.name, employeeUsername: employeeSkill.employeeUsername }, 'edit' ]"
                                  icon="pi pi-pencil" styleClass="ui-button-warning">
                        </p-button>
                        <p-button type="submit" (click)="delete(employeeSkill.name, employeeSkill.employeeUsername)"
                                  icon="pi pi-times" styleClass="ui-button-danger">
                        </p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
